*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #0B2434;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'inter', sans-serif;
}
main{
  height: 320px;
  width: 320px;
  border-radius: 10px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.dice-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
}
.dice-container> button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #FFFFFF;
  color: #2B283A;
  border-style: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.dice-container> button.naah{
  background-color: #59E391;
}
#roll-button{
  width: 92px;
  height: 36px;
  background-color: #5035FF;
  border-radius: 5px;
  margin-top: 25px;
  border-style: none;
}
h1{
  font-size: 1.6rem;
  font-weight: bold;
}
p{
  font-size: 0.82rem;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}